# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
node_modules/
config.js
backend/public/images/cee25969906f8cca421bc25d9e8c5c24
frontend/public/favicon.ico
frontend/public/logo192.png
frontend/public/logo512.png
frontend/public/manifest.json
frontend/public/robots.txt

backend/public/images/cee25969906f8cca421bc25d9e8c5c24
frontend/public/favicon.ico
frontend/public/logo192.png
frontend/public/logo512.png
frontend/public/manifest.json
frontend/public/robots.txt
frontend/node_modules
frontend/package-lock.json
frontend/package.json
backend/node_modules
backend/package-lock.json
backend/package.json
