.container {
    width: 300px;
    margin: 90px auto;
    padding-top: 1px;
    padding-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.rounded-avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.btn-logout {
    width: 40%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: #e60505;
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.btn-logout:hover {
    background-color: #c60505;
}